<h1>Edit</h1>
<h2><%= attraction.placeName %></h2>

<form method="POST" action="/attractions/<%= attraction.id %>">
  <input type="hidden" name="_method" value="PUT">
  <div class="form-group">
    <label for="placeName">Place name</label>
    <input type="text" name="placeName" value="<%= attraction.placeName %>" id="placeName" required minlength="2">
  </div>
  <div class="form-group">
    <label for="website">Website</label>
    <input type="url" name="website" value="<%= attraction.website %>" id="website" required>
  </div>
  <div class="form-group">
    <label for="image">Image url</label>
    <input type="url" name="image" value="<%= attraction.image %>" id="image" required>
  </div>
  <div class="form-group">
    <label for="description">Short description</label>
    <input type="text" name="description" value="<%= attraction.description %>" id="description" required>
  </div>
  <div class="form-group">
    <label for="rating">Rating out of 5</label>
    <input type="number" name="rating" value="<%= attraction.rating %>" id="rating" required>
  </div>
  <div class="form-group">
    <label for="category">Category</label>
    <select class="form-control" id="category">
      <option <% if(attraction.category === 'Art') { %>selected<% } %>>Art</option>
      <option <% if(attraction.category === 'Architecture') { %>selected<% } %>>Architecture</option>
      <option <% if(attraction.category === 'Art') { %>selected<% } %>>Entertainment</option>
      <option <% if(attraction.category === 'History') { %>selected<% } %>>History</option>
      <option <% if(attraction.category === 'Art') { %>selected<% } %>>Nature</option>
      <option <% if(attraction.category === 'Art') { %>selected<% } %>>Museum</option>
      <option <% if(attraction.category === 'Art') { %>selected<% } %>>Shopping</option>
      <option <% if(attraction.category === 'Art') { %>selected<% } %>>Other</option>
    </select>
  </div>
  <div class="form-group">
    <label for="addressLine1">Address line 1</label>
    <input type="text" name="addressLine1" value="<%= attraction.address.line1 %>" id="addressLine1" required>
  </div>
  <div class="form-group">
    <label for="addressLine2">Address line 2</label>
    <input type="text" name="addressLine2" value="<%= attraction.address.line2 %>" id="addressLine2" required>
  </div>
  <div class="form-group">
    <label for="postcode">Postcode</label>
    <input type="text" name="postcode" value="<%= attraction.address.postcode %>" id="postcode" required>
  </div>
  <button class="btn btn-primary">Submit</button>
</form>
