
<img src="<%= attraction.image %>">
<h1><%= attraction.placeName %></h1>
<h3><%= attraction.rating %> <%= attraction.website%></h3>
<h3><%= attraction.description %></h3>
<h3><%= attraction.address.line1 %>, <%= attraction.address.line2 %></h3>
<h3><%= attraction.address.postcode %></h3>
