<h1 class="center-header"><%= attraction.placeName %></h1>
<hr>
<form class="show-attraction d-none" action="index.html" method="post">

</form>
<div class="container" id="lat-lng" data-lat="<%= attraction.lat %>" data-lng="<%= attraction.lng %>" >
  <div class="row index-row show-row">
    <div class="col-md col-lg-8">
      <div class="row">
        <div class="col-10">
          <p>Rating - <%= attraction.rating %> / 5</p>
        </div>
        <div class="col-2">
          <a class="website-link"href="<%= attraction.website%>"><p>Website</p></a>
        </div>
      </div>
      <div class="row show-info-row">
        <div class="col-2">
          <p><%= attraction.category %></p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          <p><%= attraction.address %></p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          <p><%= attraction.description %></p>
        </div>
      </div>
    </div>
    <div class="col-md col-lg-4 show-image">
      <img src="<%= attraction.image %>">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="map index-row">
      </div>
    </div>
  </div>
  <% if (locals.isLoggedIn && attraction.belongsTo(user)) { %>
    <div class="row index-row">
      <a class="btn btn-secondary show-page-buttons" href="/attractions/<%= attraction.id %>/edit">Edit</a>
      <form method="POST" action="/attractions/<%= attraction.id %>" class="show-page-buttons">
        <input type="hidden" name="_method" value="DELETE">
        <button class="btn btn-secondary" >Delete</button>
      </form>
    </div>
    <% } %>

    <% attraction.comments.forEach((comment) => { %>
      <div class="row index-row comment-row">
      <small class="comment-name"><%= comment.createdBy.firstName %></small>
      <% if(locals.isLoggedIn && comment.belongsTo(user)) { %>
        <form method="POST" action="/attractions/<%= attraction.id %>/comments/<%= comment.id %>">
          <input type="hidden" name="_method" value="DELETE">
          <button class="btn btn-secondary btn-sm">&#x2715;</button>
        </form>
      <% } %>
      </div>
      <p class="index-row comment-text"><%= comment.content %></p>
    <% }) %>

    <% if(locals.isLoggedIn) { %>
      <div class="row index-row">
      <div class="col-6">
        <section>
          <div class="form-group">
            <form method="POST" action="/attractions/<%= attraction.id %>/comments">
              <textarea class="form-control comment-area" name="content" id="content" placeholder="Comment"></textarea>
              <button class="btn btn-secondary show-page-buttons">Submit comment</button>
            </form>
          </div>
        </section>
      </div>
      </div>
      <% } %>
    </div>
