<h1 class="show-header"><%= attraction.placeName %></h1>

<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="row">
        <div class="col-1">
          <p><%= attraction.rating %></p>
        </div>
        <div class="col-11">
          <p><%= attraction.website%></p>
        </div>
      </div>
      <div class="row">
        <p><%= attraction.address.line1 %>, <%= attraction.address.line2 %></p>
      </div>
      <div class="row">
        <div class="col-3">
          <p><%= attraction.address.postcode %></p>
        </div>
        <div class="col-9">
          <p><%= attraction.category %></p>
        </div>
      </div>
      <div class="row">
        <p><%= attraction.description %></p>
      </div>
    </div>
    <div class="col-6">
      <img src="<%= attraction.image %>">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="map">
      </div>
    </div>
  </div>
</div>

<a class="btn btn-primary" href="/attractions/<%= attraction.id %>/edit">Edit</a>
<form method="POST" action="/attractions/<%= attraction.id %>">
  <input type="hidden" name="_method" value="DELETE">
  <button class="btn btn-primary" >Delete</button>
</form>

<% attraction.comments.forEach((comment) => { %>
  <p><%= comment.content %></p>
  <small><%= comment.createdBy.username %></small>
<% }) %>

<section>
  <h4>Leave a comment</h4>
  <div class="form-group">
    <form method="POST" action="/attractions/<%= attraction.id %>/comments">
      <textarea class="form-control" name="content" id="content" placeholder="Comment"></textarea>
      <button class="btn btn-primary">Leave a comment</button>
    </form>
  </div>

</section>
