<h1 class="center-header"><%= attraction.placeName %></h1>
<hr>
<form class="show-attraction" action="index.html" method="post">

</form>
<div class="container" id="lat-lng" data-lat="<%= attraction.lat %>" data-lng="<%= attraction.lng %>" >
  <div class="row">
    <div class="col-6">
      <div class="row">
        <div class="col-10 box">
          <p>Rating - <%= attraction.rating %> / 5</p>
        </div>
        <div class="col-2 box">
          <a href="<%= attraction.website%>"><p>Website</p></a>
        </div>
      </div>
      <div class="row show-info-row">
        <div class="col-2 box">
          <p><%= attraction.category %></p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          <p><%= attraction.address %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-3 box">
          <p><%= attraction.address.postcode %></p>
        </div>
      </div>
      <hr>
      <div class="row box">
        <div class="col">
          <p><%= attraction.description %></p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <img src="<%= attraction.image %>">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="map">
      </div>
    </div>
  </div>
  <% if (locals.isLoggedIn && attraction.belongsTo(user)) { %>
    <div class="row">
      <a class="btn btn-primary edit-delete-buttons" href="/attractions/<%= attraction.id %>/edit">Edit</a>
      <form method="POST" action="/attractions/<%= attraction.id %>" class="edit-delete-buttons">
        <input type="hidden" name="_method" value="DELETE">
        <button class="btn btn-primary" >Delete</button>
      </form>
    </div>
    <% } %>

    <% attraction.comments.forEach((comment) => { %>
      <p><%= comment.content %></p>
      <small class="comment-name"><%= comment.createdBy.firstName %></small>
      <% if(locals.isLoggedIn && comment.belongsTo(user)) { %>
        <form method="POST" action="/attractions/<%= attraction.id %>/comments/<%= comment.id %>">
          <input type="hidden" name="_method" value="DELETE">
          <button class="btn btn-danger btn-sm">Delete Comment</button>
        </form>
      <% } %>
    <% }) %>

    <% if(locals.isLoggedIn) { %>
      <div class="row">
        <section>
          <h4>Leave a comment</h4>
          <div class="form-group">
            <form method="POST" action="/attractions/<%= attraction.id %>/comments">
              <textarea class="form-control" name="content" id="content" placeholder="Comment"></textarea>
              <button class="btn btn-primary">Leave a comment</button>
            </form>
          </div>
        </section>
      </div>
      <% } %>
    </div>
